html, body {
  height: 100%;
  margin: 0;
  background-color: #121212; /* Dark Spotify-like background */
  color: white; /* Light text for contrast */
  font-family: Arial, sans-serif; /* Replace with your preferred font */
  overflow: hidden; /* Prevent body scrolling */
  overflow-y: auto;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Prevent scrollbars outside */
  text-align: center;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/Gotham Medium.otf');
}